# Ambiente virtual
venv/

# Credenciais e arquivos sensíveis
secrets/
.env
*.json

# Ambiente virtual
.venv/

# Arquivos de configuração do PyCharm/IDEA (opcional, se não quiser versionar)
.idea/

# Ignorar a pasta inteira de segredos
Big_Data_GCP/secrets/
Big_Data_GCP/.env
Big_Data_GCP/files

# Arquivos JSON
*.json